In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("Supermarket_Customers_data_v2.csv", delimiter=';')
df

,Customer_ID,Sex,Age,Annual Income (k$),Spending Score (1-100): Score assigned by the shop based on customer behavior and spending nature
0,1,Male,19,15,39
1,2,Male,21,15,81
2,3,Female,20,16,6
3,4,Female,23,16,77
4,5,Female,31,17,40
...,...,...,...,...,...
1077,1078,Female,36,43,19
1078,1079,Male,18,74,60
1079,1080,Male,36,49,62
1080,1081,Male,23,90,91
1081,1082,Male,25,75,19